h1
{
    text-align: center;
    font-size: 25px;
}

.icone-pdf
{
   margin-left: auto; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: rgb(6, 26, 27);
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: rgb(38, 1, 173);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
}


button:hover {
    background-color: rgb(6, 26, 27);
}

footer {
    text-align: center;
    background-color: rgb(6, 26, 27);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
